<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../head.ejs") %>
</head>
<body>
    <%- include("../nav.ejs") %>
    <section>
        <div class="container">
            <form action="/auth/register" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" aria-describedby="emailHelp">
                </div>    
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </section>
</body>
</html>